/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-form {
  width: 50%;
  margin: 10vh auto;
  padding: 3vh 0!important;

  @media (max-width: 1080px) {
    width: 90%;
    margin-top: 22px !important;
  }

  &__title {
    text-align: center;
    padding: 3vh;
  }
  &__content {
    display: flex!important;
    flex-direction: column;
    align-items: center;
  }
  &__control {
    width: 60%;
  }
  &__actions {
    display: flex!important;
    justify-content: space-evenly;
  }
}

.snackbar-success {
  color: greenyellow;
}

.snackbar-error {
  color: red;
}

.custom-tooltip {
  font-size: 12px;
}
.hide-on-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}
